{% extends 'layout/AMovies/base.html'%}

{% block title %}
    {{movie.title}}
{% endblock %}

{% block content %}
    <section class="container mt-4">
        <div class="row featurette">
            <div class="col-md-7 order-md-2 mt-3">
                <h2 class="featurette-heading fw-normal lh-1">{{movie.name}}</h2>
                <div class="box"></div>
                <br>
                <p class="lead">{{movie.description}}</p>
                <h5>Жанры:</h5>
                <div style="display:flex;">
                    {% for genre in movie.genre.all %}
                        <a class="text-decoration-none me-2 genre" href="{% url 'movies:genre_detail' genre.slug%}">{{genre}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col" style="width:400px;">
                 <img src="{{ movie.image.url }}" alt="" width="400">
            </div>
        </div>
    </section>
    <section class="container mt-4">
        <div id="player"></div>
    </section>
{% endblock %}
