{% extends 'layout/users/base.html' %}
{% load static %}

{% block title %}
    Ваш профиль
{% endblock %}

{% block content %}
<section class="container">
    <div class="d-flex justify-content-center flex-column d-row">
        <div class="py-5 text-center">
            <h2>Редактировать профиль</h2>
        </div>
        <div class="row g-5 d-flex justify-content-center">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="username" class="form-label"><b>Текущий никнейм: {{user.nickname}}. </b>Изменить на:</label>
                            {{ form.nickname }}
                        </div>
                        <div class="col-12">
                            <label for="firstName" class="form-label"><b>Текущий юзернейм: {{user.user.username}}. </b>Изменить на:</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                {{ form.username }}
                            </div>
                            <h6 class="text-danger">{{ form.username.errors }}</h6>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label"><b>Текущий имейл: {{user.email}}. </b>Изменить на:</label>
                            {{form.email }}
                            <h6 class="text-danger">{{form.email.errors}}</h6>
                        </div>
                        <div class="col-12">
                            <button type="button" id="change-password-button">Вы хотите изменить пароль?</button>
                        </div>
                        <div class="col-12 password-fields" style="display: none;">
                            <label for="address" class="form-label">Пароль:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="col-12 password-fields" style="display: none;">
                            <label for="address2" class="form-label">Подтверждениe пароля:</label>
                            {{ form.password2 }}
                        </div>
                        <h6 class="text-danger">{{form.non_field_errors}}</h6>
                    </div>
                    <br>
                    {% if user.premium %}
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="">
                        <p>У вас есть премиум до {{ user.premium_expiry_date|date:"d.m.Y" }}</p>
                    </div>
                    {% else %}
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <p>У вас нет премиума. <a href="{% url 'subscription:subs_page' %}">Купить премиум</a></p>
                    </div>
                    {% endif %}
                    <hr class="my-4">
                   <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}